<main class="landing-page">
    <div class="img-login-page">
        <img src="./assets/images/img_phare.png" alt="Image de présentation">
    </div>
    <section class="login-bar">
        <div class="header-logo">
            <div class="img-logo">
                <img src="./assets/images/octom-main-logo.png" alt="Logo Octom" class="logo">
            </div>
            <h1>Octom</h1>
        </div>
        <div class="login-bloc">
            <router-outlet></router-outlet>
        </div>
    </section>
</main>