<h2>Authentification</h2>
<form class="main-login-form">
    <div class="login-box">
        <app-input type="email" field="email" placeholder="exemple@exemple.com"
            label="Choose your username"></app-input>
    </div>
    <div class="login-box">
        <app-input type="password?" field="password" placeholder="password" label="Choose a password"></app-input>
        <fa-icon [icon]="faEye"></fa-icon>
    </div>
    <div class="login-box">
        <app-input type="password?" field="password" placeholder="confirm password"
            label="Confirm your password"></app-input>
        <fa-icon [icon]="faEye"></fa-icon>
    </div>

    <div class="signin-buttons">
        <button type="submit" class="signin-box" routerLink="/">Create my account</button>
        <span></span>
        <button type="submit" class="google-signin-box">
            <img src=".\assets\images\logo-google.png" alt="Logo Google">
            <p>Or sign in with Google</p>
        </button>
        <p>Don't have an account? <a href=""> Sign up now</a></p>
    </div>
</form>