<h2>Password reset</h2>
<form class="main-login-form">

    <div class="login-box">
        <app-input type="password?" field="password" placeholder="password" label="Choose a new password"></app-input>
        <fa-icon [icon]="faEye"></fa-icon>
    </div>
    <div class="login-box">
        <app-input type="password?" field="password" placeholder="confirm password"
            label="Confirm your new password"></app-input>
        <fa-icon [icon]="faEye"></fa-icon>
    </div>

    <div class="signin-buttons">
        <button type="submit" class="signin-box" routerLink="/">Reset password</button>
    </div>
</form>